header {
  background-color: rgb(208, 197, 233);
  padding: 50px;
}

/* html {
  background-color: rgb(73, 73, 160);
} */

section {
  background-color: rgb(73, 73, 160);
  padding: 50px;
}

.item {
  margin: 20px 0;
  background-color: rgb(128, 128, 183);
  padding: 10px;
  border-radius: 5px;
}
.item p {
  padding: 8px 0;
}
